<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<title>Listado de Compras</title>
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	</head>
	<body>
		<header th:insert="layout/header :: header"></header>
		<div class="container mb-5">
			<div class="row d-flex justify-content-center">
				<div class="col-sm-12 col-md-8 ">
					
					<!-- FORMULARIO DE BUSQUEDA -->
					
					<div class="col-12 mt-3 ">
						<h3 class="text-center text-uppercase mb-3">Formulario de Busqueda</h3>
					</div>
					
						<form class="border my-2 col-sm-12" th:action="@{/compra/busqueda}" th:method="GET">

						<div class="from-group row d-flex justify-content-center mt-5 mb-3">
							<label for="nombre"  class="col-form-label col-sm-3">Nombre del Producto</label>
						  	<input type=text id="nombre" class="form-control col-sm-7" th:value="${nombre}" name="nombre">
						</div>
						<div class="from-group row d-flex justify-content-center my-3">
							<label for="total"  class="col-form-label col-sm-3">Monto superior a</label>
						 	<input type=number id="total" class="form-control col-sm-7" th:value="${total}" name="total">
						</div>

						<!-- BOTON BUSCAR-->
						
						<div class="d-flex justify-content-center my-4">
					 		<button type="submit" class="btn btn-primary text-center" value="Buscar">Buscar</button>
					 	</div>
					 	
					</form>
					
					<!-- TABLA DE COMPRAS--> 	
						
					<div class="col-12 mt-3">
						<h3 class="text-center text-uppercase mb-3">Lista de Compras</h3>
					</div>
				
					<div class="table-responsive col-sm-12 mb-3">
						<table class="table table-striped" border="1">
							<thead>
								<tr>
									<th scope="col">Id</th>
									<th scope="col">Producto</th>
									<th scope="col">Cantidad</th>
									<th scope="col">Total</th>
								</tr>
							</thead>
						  	<tbody> 
								<tr th:each="c: ${compras}">
									<td th:text="${c.id}"></td>
									<td th:text="${c.producto.nombre}"></td>
									<td th:text="${c.cantidad}"></td>
									<td th:text="${c.total}"></td>
								</tr> 
							</tbody>
						</table>				
					</div>
				</div>
				
				<!-- ASIDE - PUBLICIDAD -->
				
				<aside class="col-sm-12 col-md-3 text-center" th:insert="layout/publicidad :: aside"></aside>
			</div>
		</div>
			
		<footer th:insert="layout/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	</body>
</html>